{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "projectName": {
            "value": "businessprocessautomationv1"
          },
          "repositoryToken": {
            "value": "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"
          },
          "repositoryUrl": {
            "value": "https://github.com/Santhosh0505/business-process-automation"
          }
    }
}
